body{
    margin: 0;
    background: #252525;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#verticalButtons{
    display: flex;
    flex-direction: column;
}

button{
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    margin-bottom: 20px;
    cursor: pointer;
}
button:hover{
    background: rgb(1, 131, 238);
}

#carCanvas {
    background: #d3d3d3;
}

#networkCanvas {
    background: #000;
}